@using GolfTournamentApp.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    
</div>
<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
        <div class="card" style="width-30rem">
            <img src="https://www.caddybytes.com/virtualtours/TPC%20Louisiana/slides/Par4_10th.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">TPC OF LOUISIANA</h5>
                <p class="card-text">TPC of Louisiana golf course host to the Zurich Classic of New Orleans golf tournament. </p>
                <button type="button" class="btn btn-primary">Go to Tournament</button>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card" style="width-30rem ">
            <img src="https://www.caddybytes.com/virtualtours/Castle%20Pines/slides/2nd_18th.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">THE CASTLE PINES</h5>
                <p class="card-text">The INTERNATIONAL golf tournament. Designed by Jack Nicklaus and opened for play in 1986. At 6400 feet of elevation with holes up or downhill as much as 50 yards from tee to green.</p>
                <button type="button" class="btn btn-primary">Go to Tournament</button>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card" style="width-30rem ">
            <img src="https://www.caddybytes.com/virtualtours/Montreux/slides/Par4_10th.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">THE MONTREUX</h5>
                <p class="card-text">The Reno Tahoe Open golf tournament. Designed by Jack Nicklaus At 5800 feet of elevation with holes up or downhill as much as 50 yards from tee to green.</p>
                <button type="button" class="btn btn-primary">Go to Tournament</button>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card" style="width-30rem ">
            <img src="https://www.caddybytes.com/virtualtours/PGA%20West%20Palmer/slides/Par3_17th.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">PGA WEST</h5>
                <p class="card-text">one of the four courses in rotation for the Bob Hope Chrysler Classic golf tournament.</p>
                <button type="button" class="btn btn-primary">Go to Tournament</button>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card" style="width-30rem ">
            <img src="https://www.caddybytes.com/virtualtours/Pebble/slides/Tee_shot18.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">PEBBLE BEACH</h5>
                <p class="card-text">Pebble Beach golf links -the host golf course for the Pebble Beach Invitational National Pro Am. Our slide show begins with a picture of the par 4 -8th hole on thru the 18th green of the back nine holes of Pebble Beach links. Designed by Jack Neville and Douglas Grant in 1919 the original par 4 18th hole was lengthened to a par five in 1922 and along with five green redesigns by William Fowler and more recently a remake of the par 3 -5th hole by Jack Nicklaus pretty much gives you today's course as we see it.</p>
                <button type="button" class="btn btn-primary">Go to Tournament</button>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card" style="width-30rem ">
            <img src="https://www.caddybytes.com/virtualtours/Buick%20Invitational/slides/Par3_11th.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">TORY PINES</h5>
                <p class="card-text">Torrey Pines South golf course host to the Farmers San Diego Open a premier West Coast Swing golf tournament. Rees Jones was called in for a major redesign to attract a major championship.</p>
                <button type="button" class="btn btn-primary">Go to Tournament</button>
            </div>
        </div>
    </div>
</div>